body{
  margin:0;
  background:#111827;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}

/* LAYOUT */

.layout{
  display:flex;
}

/* SIDEBAR */

.sidebar{
  width:250px;
  min-height:100vh;
  background:#1f2937;
  padding:25px;
}

.logo{
  margin-bottom:40px;
  font-size:28px;
}

.menu{
  list-style:none;
  padding:0;
}

.menu li{
  background:#374151;
  margin-bottom:15px;
  padding:15px;
  border-radius:12px;
  cursor:pointer;
  transition:0.3s;
}

.menu li:hover{
  background:#4b5563;
  transform:translateX(5px);
}

.menu a{
  color:white;
  text-decoration:none;
  display:block;
}

.active{
  background:#8b5cf6 !important;
}

/* CONTENT */

.content{
  flex:1;
}

/* NAVBAR */

.navbar{
  height:70px;
  background:#1f2937;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 30px;
}

.profile{
  background:#374151;
  padding:10px 15px;
  border-radius:10px;
}

/* DASHBOARD */

.dashboard{
  padding:40px;
}

.dashboard-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.dashboard-header p{
  color:#9ca3af;
}

.notif-btn{
  background:#8b5cf6;
  border:none;
  color:white;
  padding:12px 20px;
  border-radius:12px;
  cursor:pointer;
}

/* STATS */

.stats{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
  margin-top:30px;
}

.card{
  background:#1f2937;
  padding:25px;
  border-radius:20px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.card h3{
  margin:0;
  color:#9ca3af;
}

.card p{
  font-size:40px;
  margin:15px 0;
}

.card span{
  color:#9ca3af;
}

/* GRID */

.dashboard-grid{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:30px;
  margin-top:40px;
}

/* TASKS */

.tasks-section{
  margin-top:10px;
}

.task{
  background:#1f2937;
  padding:20px;
  border-radius:20px;
  margin-top:15px;

  display:flex;
  justify-content:space-between;
  align-items:center;
}

.task h4{
  margin:0;
}

.task p{
  color:#9ca3af;
}

/* BADGES */

.badge{
  padding:8px 14px;
  border-radius:10px;
  font-size:14px;
}

.red{
  background:#7f1d1d;
}

.orange{
  background:#78350f;
}

.green{
  background:#14532d;
}

/* PROGRESS */

.progress-section{
  margin-top:50px;
}

.progress-bar{
  width:100%;
  height:20px;
  background:#374151;
  border-radius:20px;
  margin-top:15px;
}

.progress-fill{
  width:74%;
  height:100%;
  background:#8b5cf6;
  border-radius:20px;
}

/* CALENDAR */

.calendar{
  background:#1f2937;
  padding:25px;
  border-radius:20px;
  height:fit-content;
}

.calendar-grid{
  display:grid;
  grid-template-columns:repeat(7,1fr);
  gap:10px;
  margin-top:20px;
  text-align:center;
}

.calendar-grid div{
  background:#374151;
  padding:10px;
  border-radius:10px;
}

.today{
  background:#8b5cf6 !important;
}

/* ACTIVITY */

.activity{
  background:#1f2937;
  padding:25px;
  border-radius:20px;
  margin-top:30px;
}

.activity-item{
  background:#374151;
  padding:15px;
  border-radius:12px;
  margin-top:15px;
}

/* RESPONSIVE */

@media(max-width:900px){

  .stats{
    grid-template-columns:1fr 1fr;
  }

  .dashboard-grid{
    grid-template-columns:1fr;
  }

}

@media(max-width:600px){

  .layout{
    flex-direction:column;
  }

  .sidebar{
    width:100%;
    min-height:auto;
  }

  .stats{
    grid-template-columns:1fr;
  }

}